

{% extends "layout.html" %}
{% set active_page = "Gen" %}

{% block content %}
 <script src="/static/graph.js" type="text/javascript"></script>
    <script type="text/javascript">
<h1> Books by Genre</h1>
 $(document).ready(function () {
            var dataDef = { title: "Books By Genre",
                            xLabel: 'Genre', 
                            yLabel: 'Number Of Books',
                            labelFont: '19pt Arial', 
                            dataPointFont: '10pt Arial',
                            renderTypes: [CanvasChart.renderType.lines, CanvasChart.renderType.points],
                            dataPoints: [{{genredata}}]
							  };
 CanvasChart.render('canvas', dataDef);
        });
</script>
	<canvas id="canvas" width="1000" height="600"></canvas>

{% endblock %}

