{% extends "layout.html" %}
{% set active_page ="home" %}
{% block title %}Home{% endblock %}
 {% block content %}
 </head> 
	<h2 id = "h2"> About the Publishers Data</h2>
 <p> The data used for this page was taken from the CORGIS Data Sets. The Publishers Data set is a collection that anaylzes e-books sales of 
 over 50,000 titles from vastly different genres. The data set does not include the titles of the books or the names of the authors. The 
 data set seems to be organzed by sales rank of the books being sold that year(2015) and shows data such as genre, sales price, publisher, and
	 who sold it. </p>
 <p>
 Upon closer examination of the data set it should be noted that the publisher and who sold the book are to seperate quantities and thus has 
 two different companies. The data set also shows how many of the book was sold on Amazon. Publisher type is an interesting category that 
 holds a value with what type of publisher the book was published under. The publisher type big five seems to cover all major companies, though 
 in reality the big five are HarperCollins, Penguin Random House, Simon and Schuster,  Macmillan Publishers, and Hachette Book Group. Other publisher
 types include small, indie and amazon. Below is a list of Sources of where research and information was gathered on.
 </p>
 <h1 id = "h1"> Sources</h1>

 <a href= "https://www.thebalance.com/the-big-five-trade-book-publishers-2800047"> 
	 https://www.thebalance.com/the-big-five-trade-book-publishers-2800047 </a>
       <br>
<a href="http://authorearnings.com/report/september-2015-author-earnings-report/">
		http://authorearnings.com/report/september-2015-author-earnings-report/ </a>
	{% endblock %}
 
 
